./metadata/

secrets.json

#############
## Eclipse ##
#############
.project
.metadata
.gradle
bin/
tmp/
target/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

.plugins/org.eclipse.core.resources/.root/.markers.snap
.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.
.plugins/org.eclipse.e4.workbench/workbench.xmi
.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
